MARIADB_ROOT_PASSWORD=super_secret_root
MARIADB_DATABASE=transcendence
MARIADB_USER=pong_user
MARIADB_PASSWORD=pong_password

# Prisma Connection String (Used by Next.js to talk to the db container)
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@mariadb:3306/${MARIADB_DATABASE}


# RENAME THIS FILE TO .env TO MAKE IT WORK WITH THE CURRENT SETUP.
NEXTAUTH_SECRET=6ab400581e4c6b2c67980dc0115ed9e4e7478ef7f.20c9c3cde18be8350650b76
GITHUB_ID="Ov23lioNxvfIGWLjBdPD"
GITHUB_SECRET="b70c8a77054f7584ee02bd8701ec87f0c6b3c024"
NEXTAUTH_URL=http://localhost:3000