MARIADB_ROOT_PASSWORD=super_secret_root
MARIADB_DATABASE=transcendence
MARIADB_USER=pong_user
MARIADB_PASSWORD=pong_password

# Prisma Connection String (Used by Next.js to talk to the db container)
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@mariadb:3306/${MARIADB_DATABASE}


# RENAME THIS FILE TO .env TO MAKE IT WORK WITH THE CURRENT SETUP.
NEXTAUTH_SECRET=
GITHUB_ID=""
GITHUB_SECRET=""
NEXTAUTH_URL=http://localhost:3000