MARIADB_HOST=localhost
MARIADB_DATABASE=transcendence
MARIADB_USER=pong_user
MARIADB_PASSWORD=pong_password
MARIADB_ROOT_PASSWORD=super_secret_root # For MariaDB docker image only

NEXTAUTH_SECRET=
GITHUB_ID=""
GITHUB_SECRET=""
NEXTAUTH_URL=http://localhost:3000 # for development
# NEXTAUTH_URL=https://localhost:8443 # for docker-compose.prod.yml
